@import url(https://weloveiconfonts.com/api/?family=brandico);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  display: inline-block;
  font-size: 150%;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
    margin:0;
    width:100%;
    height:100%;
}
.image{
    min-width:100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
#pagecolor{
    background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
    }
a{
    text-decoration:none;
    color: rgb(49, 48, 48);
}
ul{
    list-style-type: none;
    margin-right: -20%;
}
.navbar-collapse{
    display: flex;
    flex-wrap:wrap;
    justify-content: right;
    background-color:rgb(180, 157, 107);
    width:100%;
 }
 .navbar-nav{
     order:0;
     display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 25%;
    min-height: 100%;
    max-height: 100%;
    background-color:rgb(180, 157, 107);
    text-align: center;
 }
 .home:hover{
     order:0;
    min-width: 10%;
    min-height: 100%;
    max-height: 100%;
    background-color: beige;
    text-align: right;
 } 
 .about:hover{
     order:1;
    min-width: 10%;
    min-height: 100%;
    max-height: 100%;
    background-color: beige;
    text-align: center;
 }
 .logo{
     order:1;
     display: flex;
     flex-wrap:wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
     max-width: 5%;
     min-height: 100%;
     max-height: 100%;
     background-color: rgb(180, 157, 107);
 }
 .mobile{
     order:2;
     width:5%;
     height:100%;
     padding-right:5%;
 }
 .body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    height:140vh;
    background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
}
.name{
        order:0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width:100%;
        height:40%;
        background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
    }
.boxes{
    order:1;
    width:100%;
    height:40%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content:space-around;
    align-items: center;
    background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
}
.box1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    order:0;
    background-color: teal;
    box-shadow: 1vw .5vw 1vw 1vw #f7eed2;
    border:solid;
    border-color:rgb(59, 59, 59);
    border-radius: 50%;
    width: 15%;
    height : 80%;
    font-family: 'Droid Arabic Kufi', serif;
    text-align: center;
    font-size: 100%;
    text-justify: distribute;
}
.box2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    order:1;
    background-color: teal;
    box-shadow: 1vw .5vw 1vw 1vw #f7eed2;
    border:solid;
    border-color:rgb(59, 59, 59);
    border-radius: 50%;
    width: 15%;
    height : 80%;
    font-family: 'Droid Arabic Kufi', serif;
}
.box3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    order:2;
    background-color: teal;
    box-shadow: 1vw .5vw 1vw 1vw #f7eed2;
    border:solid;
    border-color:rgb(59, 59, 59);
    border-radius: 50%;
    width: 15%;
    height : 80%;
    font-family: 'Droid Arabic Kufi', serif;
}
.box4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    order:3;
    background-color: teal;
    box-shadow: 1vw .5vw 1vw 1vw #f7eed2;
    border:solid;
    border-color:rgb(59, 59, 59);
    border-radius: 50%;
    width: 15%;
    height : 80%;
    font-family: 'Droid Arabic Kufi', serif;
}
.money{
    order:2;
    width:100%;
    height:20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    align-items: center;
    background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
}
h1,h2{ 
    color: rgb(54, 48, 38);
    text-align: center;
    }
ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    color: rgb(49, 48, 48);
}    
p{
    margin:3px;
}

