@media screen and (min-height:1000px){
    .boxes{
        flex-direction: column;
        background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
    }
    .box1{
        width: 80%;
        height : 30%;
    }
    .box2{
        width: 80%;
        height : 30%;
    }
    .box3{
        width: 80%;
        height : 30%;
    }
        .h2{
            width:100%;
            height:30%;
        }    
    h2{ 
        font-size: 2vh;
        }
    .photo{
        width:50%;
        height:40%;
        margin-right: 25%;
    }    
           .button{
            height:30%;
        }    
    #button{
        width:15vw;
    }    
    }

    @media screen and (max-width:540px) and (min-height:640px){
        .boxes{
            flex-direction: column;
            background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
        }
        .box1{
            width: 80%;
            height : 30%;
        }
        .box2{
            width: 80%;
            height : 30%;
        }
        .box3{
            width: 80%;
            height : 30%;
        }
        .h2{
            width:100%;
            height:30%;
        }    
        h2{ 
            font-size: 2vh;
            }
        .photo{
            width:50%;
            height:40%;
            margin-right: 25%;
        } 
        .button{
            height:30%;
        }    
        #button{
            width:15vw;
        }       
    }
    /* Added */
    @media screen and (max-width:320px){
        .name{
            font-size: 70%;
        }
        .boxes{
            flex-direction: column;
            background:linear-gradient(90deg,rgb(243, 236, 218),rgb(224, 195, 132));
        }
        .box1{
            justify-content: space-between;
            width: 80%;
            height : 30%;
        }
        .box2{
            justify-content: space-between;
            width: 80%;
            height : 30%;
        }
        .box3{
            justify-content: space-between;
            width: 80%;
            height : 30%;
        }
            .h2{
                width:100%;
                height:20%;
            }    
        h2{ 
            font-size: 2vh;
            }
        .photo{
            width:50%;
            height:40%;
            margin-right: 25%;
        }    
               .button{
                height:20%;
            }    
        #button{
            width:15vw;
        }    
        .mobile{
            font-size: x-small;
        }
        }
    